.yui-galleryintrotourui-card{
	position:absolute;
	width:200px;
	background-color:#FFF;
	color:#000;
	border:1px solid #6e329d;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.yui-galleryintrotourui-card-text{
	min-height:50px;
	padding:14px;
}
.yui-galleryintrotourui-card-nav{
	border-top:1px solid #cccccc;
	padding:14px;
}
.yui-galleryintrotourui-card-next{
	float:right;
	margin-bottom:10px;
}
.yui-galleryintrotourui-card-arrowright{
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #b0b0b0;
}
